# Catch-all code owner
* @RadxaYuntian

# Disown CI yaml so automerge can work
# https://github.com/orgs/community/discussions/23064#discussioncomment-8383923
.github/actions/**/*.yaml
.github/workflows/*.yaml
